---
version: '2.4'

services:

  lb:
    build: infrastructure/envoy
    depends_on:
      - account
    ports:
      - 9901:9901
      - 8080:10000
    mem_limit: 32M

  account:
    build: .
    ports:
      - 8080
      #- 6060:6060
    environment:
      #CPU_PROFILE: true
      POSTGRES_HOST: database
      POSTGRES_PORT: 5432
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: event_store
      ZIPKIN_URL: http://zipkin:9411/api/v2/spans
    depends_on:
      - database
    mem_limit: 32M
    scale: 2

  database:
    image: postgres:16.2
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: event_store
    volumes:
      - data:/var/lib/postgresql/data
    mem_limit: 512M

  prometheus:
    image: prom/prometheus:v2.51.2
    ports:
      - 9090:9090
    volumes:
      - ./infrastructure/prometheus/:/etc/prometheus/
    mem_limit: 64M

  grafana:
    image: grafana/grafana:10.4.2
    ports:
      - 3000:3000
    environment:
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ORG_ROLE: "Editor"
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - ./infrastructure/grafana/provisioning:/etc/grafana/provisioning/
      - ./infrastructure/grafana/dashboards:/var/lib/grafana/dashboards/
    mem_limit: 64M

  zipkin:
    image: openzipkin/zipkin:3.1.1
    ports:
      - 9411:9411
    mem_limit: 512M

volumes:
  data:
    driver_opts:
      type: tmpfs
      device: tmpfs
