name: build

on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.14.1
        uses: actions/setup-go@v2
        with:
          go-version: 1.14.1
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Build
        run: make
      - name: Integration test
        run: make integration-test
      - name: Build docker image
        run: make docker
      - name: End to end test
        run: make e2e-test
      - name: Upload code coverage report to codeclimate
        uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
        with:
          coverageCommand: make coverage-report
          coverageLocations: "coverage.out:gocov"
